<div>Name<%= text_field(:author, :name)%></div>
<div>Biography<%= text_area(:author, :biography)%></div>
<div>Academics <%= text_area(:author, :academics_list)%></div>
<div>Awards <%= text_area(:author, :awards_list)%></div>