<% @page_title = "Author"%>
<div class = "container-fluid">
    <div class = "p-back">
        <%= link_to({:action => "index"},:class => "btn btn-success") do%>
            <span class="glyphicon glyphicon-arrow-left"></span> Back
        <%end%>
    </div>
    <%= form_for(:author, :url => {:action => "update", :id => @author.id},:class => "form-horizontal") do |f|%>
    <%= render(:partial => "form", :locals => {:f => f})%>
    <div class = "form-group">
        <div class = "col-sm-offset-2 col-sm-10 m-2">
            <%= submit_tag("Update Author",:class => "btn btn-primary")%>
        </div>
    </div>
    <%end%>
</div>
