<% @page_title = "Author"%>
<div>
<%= link_to("<< Back to index",{:action => "index"})%>
<%= form_tag(:action => "update",:id => @author.id) do%>
<%= render(:partial => "form")%>
<div><%= submit_tag("Update Author")%></div>
<%end%>
</div>
