<% @page_title = "Author"%>
<div>
<%= link_to("<< Back to index",{:action => "index"})%>
<%= form_for(:author, :url => {:action => "create"}) do |f|%>
<%= render(:partial => "form", :locals => {:f => f})%>
<div><%= submit_tag("Add Author")%></div>
<%end%>
</div>
