<%= error_messages_for(@book)%>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <%= form_for :book,url: books_path ,remote: true, :class => "form-horizontal", authenticity_token: true, html: { style: "display:inline;" } do |f| %>
        <%= render partial: "form", :locals => {:f => f} %>
    <% end %>
  </div>
</div>