<% @page_title = "Book"%>
<div>
<%= link_to("<< Back to index",{:action => "index"})%>
<%= form_tag(:action => "update", :id => @book.id) do%>
<%= render(:partial => "form")%>
<div><%= submit_tag("Update Book")%></div>
<%end%>
</div>
