<% @page_title = "Book"%>
<div>
<%= link_to("<< Back to index",{:action => "index"})%>
<%= form_tag(:action => "create") do%>
<%= render(:partial => "form")%>
<div><%= submit_tag("Add Book")%></div>
<%end%>
</div>
