
<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-body">
      <div id = "spinner">
        <%= image_tag("ajax_loader.gif", id: "img-spinner") %>
      </div>
    </div>
  </div>
</div>